<app-header [user]="user"></app-header>
<div class="wrapper-app" fxLayout="row" fxLayoutAlign="start start">
  <div class="side-nav" fxFlex="15" *ngIf="user">
    <mat-drawer-container class="example-container" autosize >
      <mat-drawer class="example-sidenav" mode="side" opened>
        <ul class="nav-list" style="padding-left: 0;">
          <li>
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <a (click)="showEmployeesLinks()">Employees</a>
              <mat-icon *ngIf="!showLinks">keyboard_arrow_right</mat-icon>
              <mat-icon *ngIf="showLinks">keyboard_arrow_down</mat-icon>
          </div>
            <ul class="nav-list" *ngIf="showLinks"> 
              <li>
                <a routerLink="/employees/all-employees" routerLinkActive="active">All Employees</a>
              </li>
              <li>
                <a routerLink="/employees/attendance" routerLinkActive="active">Attendance</a>
              </li>
              <li>
                <a routerLink="/employees/departments" routerLinkActive="active">Departments</a>
              </li>
              <li>
                <a routerLink="/employees/designations" routerLinkActive="active">Designation</a>
              </li>
              <li>
                <a routerLink="/employees/holidays" routerLinkActive="active">Holidays</a>
              </li>
              <li>
                <a routerLink="/employees/leave-request" routerLinkActive="active">Leave Requests</a>
              </li>
            </ul>
          </li>
          <li class="" >
            <div style="display: flex; justify-content: space-between; align-items: center;">
            <a (click)="showPayrollLinks()"> Payroll</a>
            <mat-icon *ngIf="!showPayrolls">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="showPayrolls">keyboard_arrow_down</mat-icon>
          </div>
            <ul class="nav-list" *ngIf="showPayrolls"> 
              <li>
                <a routerLink="/payroll/salaries" routerLinkActive="active">Employee Salary</a>
              </li>
              <li>
                <a routerLink="/payroll/payslips" routerLinkActive="active">Payslips</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button> -->
      </mat-drawer>
    
      <!-- <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
      </div> -->
    
    </mat-drawer-container>
  </div>
  <div class="content-area" fxLayout="column" >
    <router-outlet></router-outlet>
  </div>
  
</div>
<footer>
</footer>
