app-all-employees {
    width: 100%;
    flex-direction: column;
    display: flex;
}
.all-employee-container {
    padding: 24px;
}
.example-full-width {
    width: 48%;
}
.example-full-width:nth-child(even) {
    margin-left: 16px;
}
.btn-center {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    /* width: 75%; */
    text-align: center;
}
.employee-container {
    border-bottom: 1px solid #d4d6d8;
    margin-bottom: 8px;
}
.emp-header div {
    font-weight: 600;
    color: #25333C;
}